*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background: #ECF0F1;
}
input, select, button {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
nav {
	position:fixed;
	background: white;
	width: 100%;
}
nav ul {
	list-style: none;
}
nav ul li {
	padding: 20px 0;
	display: inline-block;
	width:19%;
	text-align: center;
	font-weight: 400;
}
nav ul li a, .mobile-header a {
	text-transform: uppercase;
	padding:20px 0;
	color: black;
	text-decoration: none;
}
nav header, .mobile-header {
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 3px;
}
.mobile-header {
	margin-left:20px;
}
.mobile-nav {
	display: none;
	padding: 20px 0;
}
.mobile-nav svg {
	margin-left: auto;
	margin-right: 20px;
}
ul.mobile-menu {
	display: none;
	position: absolute;
	top:60px;
	width: 100%;
	background: white;
	z-index: 9999;
}
ul.mobile-menu.active {
	display: block;
}
ul.mobile-menu li {
	display: block;
	width: 100%;
	text-align: center;
}
ul.mobile-menu li a{
	padding: 0;
}


.container {
	width: 80%;
	margin:0 auto;
}
#main {
	height: 100vh;
	background-image:url('../images/bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: center;
}
.main-content {
	padding:300px 0 200px 0;
}
.main-content h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
	color: white;
}
.search-widget {
	background: white;
	padding: 10px 0;
}
.search-widget-wrapper {
	display: flex;
}
.search-item {
	width: 23%;
}
.search-btn-item{
	width: 8%;
}
.search-item div, .search-btn-item div {
	padding: 20px;
}
.search-item input, .search-item select {
	width: 100%;
	padding: 10px;
	border:0;
	border-bottom: 1px solid #ccc;
}
.search-btn-item button {
	border: 0;
	background: #F31131;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	cursor: pointer;
	transition: all .5s;
}
.search-btn-item button:hover {
	transform: scale(1.3);
}
.animate-text-container {
	color: #fff;
	overflow: hidden;
	height: 60px;
	margin-bottom: 20px
}
.animate-text-container-list {
	list-style: none;
	-webkit-animation-name: change;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	animation-name: change;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
.animate-text-container-list-item {
line-height:60px;
margin:0;
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@media (max-width: 1024px){
	.search-widget {
		overflow-y: hidden;
		overflow-x: auto;
	}
	.search-widget-wrapper {
		width: 1024px;
	}
	.search-item {
		width: 22%;
	}
	.search-btn-item{
		width: 12%;
	}
}
@media (max-width: 768px){
	.menu {
		display: none;
	}
	.mobile-nav {
		display: flex;
	}
	.main-content h1 {
		font-size: 2rem;
	}
}
@media (max-width: 480px){
	.animate-text-container-list-item {
		line-height:40px;
		margin:0;
	}
	.animate-text-container {
		height: 80px;
	}
	.mobile-header {
		font-size: 1rem;
	}
	.mobile-menu {
		font-size: 12px;
	}
}

a {
	text-decoration: none;
}

.clear {
	clear: left;
}

.ideas-wrapper {
	text-align: center;
	background-color: #ecf0f1;
	padding: 100px 0 400px 0;
	height: auto;
}
.container-christo {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.ideas-wrapper h2 {
	font-size: 32px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
/* .ideas-wrapper p {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
} */

.ideas {
	text-align: center;
	margin-top: 30px;
}

.idea {
	width: 33.33%;
	float: left;
}

.idea-image {
	overflow: hidden;
	position: relative;
}

.idea-image img {
	width: 100%;
	max-width: 360px;
	height: 300px;
	object-fit: cover;
}

/* .idea p {
} */

.txt-shape {
	position: absolute;
	top: 55%;
	width: 80%;
	height: auto;
	color: rgba(12, 11, 11, 0.9);
	padding: 10px 20px 10px 20px;
	background-color: white;
	left: 10%;
}

.txt-shape p {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	border: 1px solid rgba(12, 11, 11, 0.6);
	/* border-width: 0%; */
	padding: 15px 15px 15px 15px;
}

@media all and (max-width: 1000px) {
	.ideas-wrapper {
		padding: 100px 0 1200px 0;
	}
	.idea {
		width: 100%;
		margin-bottom: 50px;
	}
	.txt-shape {
		width: 32%;
		height: auto;
		left: 34%;
	}
	/* .idea-image img {
		width: 50%;
		height: auto;
	} */
}

@media all and (max-width: 670px) {
	.ideas-wrapper {
		padding: 100px 0 1200px 0;
	}
	.idea {
		width: 100%;
	}

	.txt-shape {
		width: 50%;
		left: 25%;
	}
}


.title {
  font-family: 'Open Sans';
  font-weight: 500;
  text-align: center;
}

.container-satriko {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 550px;
  height: 250px;
  margin: 20px;
  background-color: white;
  padding-right: 10px;
  border-radius: 20px;
	
}

.photo {
  float: left;
  width: 50%;
}

.photo img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 250px;
  height: 250px;
}

.info h2 {
  margin-top: 15px;
  margin-bottom: 0;
  font-family: 'Open Sans';
  font-weight: 400;
}

.info p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.list li {
	margin-top: 10px;
  float: left;
  list-style: none;
  padding-right: 25px;
}

.button {
	margin-top: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 12px;
  display: inline-block;
  margin-top: 1px;
  background:	#f31131;
  border-radius: 100px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.button:hover { 
  background: #B22222;
}

/* Active state animation applied here */
.button:active {
  -webkit-animation: active 1200ms ease 1 alternate;
  animation: active 1200ms ease 1 alternate; 
  background: #f31131;
}


@media only screen and (max-device-width : 480px) {
  .item {
    width: 80%;
    height: 110%;
    background-color: white;
    border-radius: 20px;
    margin: 0;
    padding: 0px;
    margin-top: 10px;
  }

  .info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .photo {
    width: 100%;
  }
  
  .photo img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
  }

  .info h2 {
    margin-top: 15px;
    margin-bottom: 0;
    font-family: 'Open Sans';
    font-weight: 400;
    text-align: center;
  }

  .info p {
    text-align: center;
  }

  .center-button {
    margin-bottom: 10px;
    text-align: center;
  }
}

  
.container-nadia {
    max-width: 1170px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.reason-wrapper {
    background-color: #ecf0f1;
    padding: 40px 0;
    text-align: center;
}

.reason-heading h2{
    font-family: 'Open Sans', sans-serif;
}

.title-separator {
    margin-bottom: 20px;
}

.reason {
    float: left;
    width: 33.33%;
    font-family: 'Lato', sans-serif;
}

.reason h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 0;
}

.reason p {
    font-size: 16px;
    font-weight: 300;
}

.reason-txt {
    width: 80%;
    display: inline-block;
}
